@model IEnumerable<ProjectW.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" role="button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.CategoryId" role="button">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CategoryId" role="button">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId" role="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
