@model IEnumerable<ProjectW.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">MANAGE BOOK</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" role="button" style="align-items:center">Create New</a>
</p>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top" alt="..." width="50" height="250">
                    <div class="card-body">
                        <h5 class="card-title">
                            Title: @Html.DisplayFor(modelItem => item.Title)
                        </h5>
                        <p class="card-text">
                            Description: @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.Price)$
                        </p>
                        <p class="card-text">
                            Qty: @Html.DisplayFor(modelItem => item.Quantity)
                        </p>
                        <p class="card-text">
                            Category: @Html.DisplayFor(modelItem => item.Category!.CategoryName)
                        </p>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.BookId" role="button">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookId" role="button">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId" role="button">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>







@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category!.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
