@{
    ViewData["Title"] = "Privacy Policy";
}
@model List<Book>
@*<h1>@ViewData["Title"]</h1>*@

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Image" class="card-img-top" alt="..." width="50" height="250">
                    <div class="card-body">
                        <h5 class="card-title">
                            Title: @Html.DisplayFor(modelItem => item.Title)
                        </h5>
                        <p class="card-text">
                            Price: @Html.DisplayFor(modelItem => item.Price)$
                        </p>
                        <p class="card-text">
                            Qty: @Html.DisplayFor(modelItem => item.Quantity)
                        </p>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.BookId" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


